<li *ngIf="cartElement!= null" class=" p-1 border-b border-gray-200 w-full">
  <div class="  flex  items-center flex-wrap  ">
    <div class=" flex flex-wrap  items-center w-4/5">
      <div class=" flex  justify-start  w-1/5  ">
        <img src="assets/images/products/prod1.png" class=" max-h-14  rounded-lg" alt="">

      </div>
      <div class="w-4/5 ">
        <h3 class="font-medium leading-tight text-3xl">Salem Hamdani hhhhh</h3>
        <h6 class="font-medium leading-tight text-base">40x40</h6>
      </div>

    </div>
    <div class="flex  items-center justify-end w-1/5 ">
      <div>
        <h4 class="font-medium leading-tight text-2xl">
          $3,900.00
        </h4>
        <div class="dot">
          <div class="dot-text">20</div>
        </div>
      </div>

    </div>
  </div>
</li>
