<li *ngIf="cartElement!= null" class=" p-1 border-b border-gray-200 w-full">
  <div class="  flex  items-center flex-wrap  ">
    <div class=" flex flex-wrap  items-center w-4/5">
      <div class=" flex  justify-start  w-1/5  ">
        <img src="assets/images/products/prod1.png" class=" max-h-14  rounded-lg" alt="">
        <img class="image" [src]="'assets/pics/'+cartElement.product.images[0]" alt="">

      </div>
      <div class="w-4/5 ">
        <h3 class="font-medium leading-tight text-3xl">{{cartElement.product.name}}</h3>
        <h6 class="font-medium leading-tight text-base">{{cartElement.product.category}}</h6>
      </div>

    </div>
    <div class="flex  items-center justify-end w-1/5 ">
      <div>
        <h4 class="font-medium leading-tight text-2xl">
          ${{cartElement.product.price}}
        </h4>
        <div class="dot">
          <div class="dot-text">{{cartElement.amount}}</div>
        </div>
      </div>

    </div>
  </div>
</li>
