.dot {
  height: 25px;
  width: 25px;
  background-color: var(--pink-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot-text{
   font-size: 10px;
  font-weight: bold;
}
