<div class="hero grid grid-cols-1 overflow-hidden relative h-screen">
    <div class="z-20 flex items-center justify-center absolute w-screen h-screen opacity-0 animate-[fade_1s_ease-in-out] ">
        <app-app-title></app-app-title>
    </div>
    <div class="text-white  lg:text-4xl text-2xl p-10 flex justify-center flex-col gap-10">
        <app-app-title [ngClass]="'mb-5'"></app-app-title>
        <p>Capturing art in our products</p>
        <p>Since 1965 </p>
    </div>
    <div class=" heroImg ">
        <img class="absolute h-full w-full z-10 " src="../../../../assets/images/heroImg.jpg " alt="heroimg ">
    </div>
</div>