<div class="hero flex flex-col-reverse  sm:grid sm:grid-cols-1 overflow-hidden sm:overflow-hidden relative sm:min-h-screen">
    <div class="z-20 flex items-center justify-center absolute w-screen h-screen opacity-0 animate-[fade_1s_ease-in-out] pointer-events-none">
        <app-app-title></app-app-title>
    </div>
    <div class="text-white  lg:text-4xl text-2xl p-10  flex justify-around flex-col gap-10">
        <div class="flex justify-center flex-col  mt-10">
            <app-app-title [ngClass]="'mb-10'"></app-app-title>
            <p class="mb-2">Capturing art in our products</p>
            <p>Since 1965 </p>
        </div>
        <div class="flex items-center  gap-10">
            <app-button [text]="'Open catalogue'" (click)="navigateToCatalogue()"></app-button>
            <app-button [color]="'#FEE0D9'" [text]="'Learn more'"></app-button>

        </div>
    </div>
    <div class="  sm:h-full sm:w-full z-10 w-[100vw] h-[50vh] heroImg relative">
        <img class="absolute top-0 h-full w-full " src="../../../../assets/images/heroImg.jpg " alt="heroimg ">
    </div>
</div>
