<div class="p-4">
  <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
  <form
    [formGroup]="confirmationForm"
    (ngSubmit)="onSubmit(confirmationForm.value)"
    class="w-full"
  >
    <div class="my-4 w-full border-gray-200 border rounded-lg">
      <input
        class="text-xl px-2 py-2 w-full border-gray-200 border rounded-lg"
        placeholder="First Name"
        formControlName="firstName"
        [value]="profile?.firstName"
        required
      />
    </div>
    <div class="my-4 w-full">
      <input
        class="text-xl px-2 py-2 w-full border-gray-200 border rounded-lg"
        placeholder="Last Name"
        formControlName="lastName"
        [value]="profile?.lastName"
        required
      />
    </div>

    <div class="my-4 w-full">
      <input
        class="text-xl px-2 py-2 w-full border-gray-200 border rounded-lg "
        placeholder="Address"
        formControlName="address"
        [value]="profile?.address"
        required
      />
    </div>

    <div class="mt-4 pb-6 w-full relative">
      <input
        class="text-xl px-2 py-2 w-full  border-gray-200 border rounded-lg"
        placeholder="Email"
        formControlName="email"
        [value]="profile?.email"
        email
        required
      />
      <p
        [ngClass]="{
      'opacity-100': confirmationForm.controls.email.errors?.['email']
    }"
        class="opacity-0 transition ease-in text-purple-dark absolute bottom-0 left-0 }"
      >
        Must be a valid email.
      </p>
    </div>

    <div class="my-4 w-full flex justify-between ">
      <a
        href="#"
        class="px-4 py-2 flex items-center"
      >
        <h5 class="font-medium leading-tight text-xl">< Return to cart</h5>
      </a>
      <button
        class="text-2xl bg-transparent border-pink-light border-2 rounded-lg px-4 py-2 text-gray-500 font-bold hover:bg-pink-light hover:text-pink-dark transition duration-300 ease-in-out disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400"
        type="submit"
        [disabled]="confirmationForm.invalid" >
        CONFIRM
      </button>
    </div>

  </form>
</div>
