<div class="w-full h-full flex justify-center items-center bg-pink-light">
  <div class="bg-pink-dark px-12 py-8 rounded-sm shadow-lg w-full lg:w-1/2">
    <h1 class="text-3xl font-bold text-white mb-8">Change Password</h1>
    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
      class="text-xl w-full space-y-4 text-white"
    >
      <p
        class="text-white transition ease-in"
        [ngClass]="{
          'opacity-0':
            changePasswordForm.controls.password.valid &&
            changePasswordForm.controls.currentPassword.valid
        }"
      >
        Minimum length: 6 characters
      </p>
      <div class="grid items-center grid-cols-3 gap-4">
        <label class="col-span-1" for="currentPassword">Current Password</label>
        <input
          type="password"
          class="col-span-2 text-xl px-2 py-2 w-full bg-pink-light"
          formControlName="currentPassword"
        />
      </div>
      <div class="grid items-center grid-cols-3 gap-4">
        <label class="col-span-1" for="password">New Password</label>
        <input
          type="password"
          class="col-span-2 text-xl px-2 py-2 w-full bg-pink-light"
          formControlName="password"
        />
      </div>
      <div class="grid items-center grid-cols-3 gap-4 pb-7 relative">
        <label class="col-span-1" for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="col-span-2 text-xl px-2 py-2 w-full bg-pink-light"
          formControlName="confirmPassword"
        />
        <p
          class="transition ease-in text-purple-dark absolute bottom-0 right-0"
          [ngClass]="{
      'opacity-100': changePasswordForm.errors?.['passwordMatch'],
      'opacity-0': !changePasswordForm.errors?.['passwordMatch']
    }"
        >
          Password must match!
        </p>
      </div>

      <div class="flex justify-between items-end">
        <button
          type="submit"
          [disabled]="!changePasswordForm.valid"
          class="text-2xl bg-transparent border-pink-light border-2 rounded-lg px-4 py-2 text-white font-bold hover:bg-pink-light hover:text-pink-dark transition duration-300 ease-in-out disabled:bg-gray-200 disabled:border-gray-200 disabled:text-gray-400"
        >
          Change Password
        </button>
        <a
          routerLink="/profile"
          class="text-2xl text-pink-light hover:underline transition duration-300 ease-in-out"
          >back to profile ></a
        >
      </div>
    </form>
  </div>
</div>
