.grid-cols-2-1 {
    grid-template-columns: 2fr 1fr;
}

.mt--10 {
    margin-top: -20px;
}

.max-text h2 {
    font-size: calc(200px + 1vmin);
    letter-spacing: 20px;
    max-width: 100%;
}

.gridme {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 1024px) {
    .max-text h2 {
        font-size: calc(100px + 1vmin);
        letter-spacing: 2px;
        max-width: 100%;
    }
    .grid-cols-2-1 {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .max-text h2 {
        font-size: calc(60px + 1vmin);
        letter-spacing: 2px;
        max-width: 100%;
    }
}