<div class="flex flex-col">
  <div class="p-5 flex flex-col items-center justify-center">
    <h1 class="text-4xl darkPinkText font-bold mb-10 lg:text-6xl">
      Best Sellers
    </h1>
    <div class="flex flex-wrap items-center justify-center">
      <div *ngFor="let item of products; let index = index">
        <app-catalog-element
          [isSmall]="index % 5 > 2 ? false : true"
          [category]="item.category"
          [imagePath]="item.images[0]"
        ></app-catalog-element>
      </div>
    </div>
  </div>
  <div class="bgLightPink p-8">
    <div class="flex flex-wrap items-center justify-between px-20 gap-20">
      <app-splash-text
        [text]="'Greek art themed'"
        [color]="'blue'"
      ></app-splash-text
      ><app-splash-text
        [text]="'Gorgeous items'"
        [color]="'pink'"
      ></app-splash-text>
      <app-splash-text
        [text]="'Sustainably packed'"
        [color]="'purple'"
      ></app-splash-text>
    </div>
  </div>
</div>
