<div id="more" class="h-screen bgDarkPink">
  <div class="grid sm:grid-cols-3 overflow-hidden h-[70%]">
    <div
      class="pt-10 w-full max-h-full flex flex-col justify-between overflow-hidden"
    >
      <div class="text-3xl text-white pl-10 sm:pl-20 flex flex-col gap-10">
        <p>
          An online shop with a rich history offering high-quality products
          themed <strong>Greek art</strong>.
        </p>
        <app-button [text]="'Explore'"></app-button>
      </div>
      <img
        class="max-h-[60%] sm:max-h-[unset]"
        src="../../../../assets/images/girls.png"
        alt="girls"
      />
    </div>
    <div
      class="pt-10 hidden sm:flex w-full max-h-full flex flex-col items-center justify-between"
    >
      <div
        class="text-3xl flex flex-col h-[100%] justify-end items-center lightPinkText"
      >
        <p>Kallos is greek for BEAUTY.</p>
      </div>
      <img src="../../../../assets/images/girls.png" alt="girls" />
    </div>
    <div
      class="pt-10 hidden sm:flex w-full max-h-full flex flex-col justify-between"
    >
      <div class="text-white text-4xl text-right pr-10 font-bold">
        <a href="#makeup"
          ><h1 class="mb-2 cursor-pointer hover:underline">Makeup</h1></a
        >
        <a href="#candles"
          ><h1 class="mb-2 cursor-pointer hover:underline">Candles</h1></a
        >
        <a href="#jewelry"
          ><h1 class="mb-2 cursor-pointer hover:underline">Jewelery</h1></a
        >
        <a href="#sculpts"
          ><h1 class="cursor-pointer hover:underline">Sculptures</h1></a
        >
      </div>
      <img src="../../../../assets/images/girls.png" alt="girls" />
    </div>
  </div>
  <div class="flex items-center justify-around h-[30%] bgLightPink gap-20">
    <h1 class="text-4xl sm:text-8xl darkPinkText font-bold">Our Categories</h1>
    <div class="w-[50px] h-[50px] sm:w-[100px] sm:h-[100px]">
      <app-scroll-down-button
        color="#cc898b"
        width="inherit"
        height="inherit"
        [link]="'candles'"
      ></app-scroll-down-button>
    </div>
  </div>
</div>
