<div class="bg-white shadow-lg flex flex-col rounded-md h-full w-96">
  <!-- image + name -->
  <div
    class="relative py-8 bg-pink-dark flex flex-col justify-center items-center"
  >
    <!-- Profile Image -->
    <img
      src="https://via.placeholder.com/150"
      class="rounded-full h-32 w-32 top-12"
    />
    <p class="text-3xl text-white pt-5 pb-3">
      {{ user.firstName + " " + user.lastName }}
    </p>
  </div>
  <!-- info -->
  <div class="pt-10 flex-grow flex flex-col justify-between px-8">
    <div>
      <div class="flex flex-col justify-center space-y-4 items-center">
        <div class="flex flex-col justify-center items-center">
          <p class="text-2xl font-bold">{{ user.orders.length }}</p>
          <p class="text-xl">
            Order{{
              user.orders.length > 1 || user.orders.length === 0 ? "s" : ""
            }}
          </p>
        </div>
        <!-- <div class="flex flex-col justify-center items-center">
                <p class="text-2xl font-bold">0</p>
                <p class="text-xl">Favourites</p>
            </div>
        </div> -->
      </div>
      <div>
        <div>
          <p class="text-xl font-bold">Email</p>
          <p class="text-md">{{ user.email }}</p>
        </div>
        <div class="pt-4">
          <p class="text-xl font-bold">Address</p>
          <p class="text-md">12 Ave. Tunis, Tunisia</p>
        </div>
        <div class="pt-4">
          <p class="text-xl font-bold">Phone Number</p>
          <p class="text-md">+216 55 555 555</p>
        </div>
      </div>
    </div>
    <div class="flex justify-between space-x-2 py-4">
      <button
        class="w-full bg-pink-light text-pink-dark py-3 rounded-md hover:bg-pink-dark hover:text-white transition active:bg-rose-400"
      >
        <p class="text-center">Edit Profile</p>
      </button>
      <button
        class="w-full bg-pink-light text-pink-dark py-3 rounded-md hover:bg-pink-dark hover:text-white transition active:bg-rose-400"
      >
        <p class="text-center">Change Password</p>
      </button>
    </div>
  </div>
</div>
