<div class="relative " style="height: 100%">
  <div class="sticky flex flex-col justify-center top-0" style="height: 100vh">
    <h1 class="text-5xl uppercase">Native Light Chair</h1>
    <div class="header-prod__sku t-gt">NL-80X</div>
    <div class="header-prod__descr">
      <p>The chair has a classic style characterized by a robust design, composed of tubes with larger dimensions and a
        high back, making the product more ergonomic.
        The MDP backrest and the upholstered seat provisde greater user comfort. In addition to being an elegant chair,
        it
        has high strength.</p>
    </div>
    <div class="header-prod__prices-guides">
      <div class=" header-prod__prices"><span class="regular-price">$4,990.00</span></div>
      <div class="header-prod__guide"><a class="recosemi e-upper underline" href="" target="_blank">SIZE GUIDE</a></div>
    </div>
  </div>
</div>
