<div class="relative" style="height: 100%" *ngIf="productDetailsService.product$  | async as product">
  <div class="sticky flex flex-col justify-center items-center top-0 mx-3" style="height: 100vh">
    <div [ngStyle]="{width: '100%', padding: '0 4rem'}">
      <h1 class="text-7xl uppercase">{{ product.name }}</h1>
      <div class="category">{{ product.category }}</div>
      <div class="my-2">
        <p>{{ product.description }}</p>
      </div>
      <div class='font-bold text-2xl'>{{ product.price }}$</div>
      <div class="flex justify-center items-center">
        <app-button [text]="'add to bag'" (click)="addToCart()" [className]="'add-to-cart-btn'"></app-button>
      </div>
    </div>
  </div>
</div>
