<div class="relative" style="height: 100%" *ngIf="productDetailsService.product$  | async as product">
  <div class="sticky flex flex-col justify-center items-center top-0 mx-3" style="height: 100vh">
    <div [ngStyle]="{width: '100%', padding: '4rem'}">
      <h1 class="text-8xl uppercase">{{ product.name }}</h1>
      <div class="category">{{ product.category }}</div>
      <div class="my-2">
        <p>{{ product.description }}</p>
      </div>
      <div class='font-bold'>{{ product.price }}$</div>
    </div>
  </div>
</div>
