<h1 class="text-5xl mb-6 font-bold text-pink-dark">Orders</h1>
<div class="flex space-x-2 mb-12 flex-wrap">
  <app-filter-button
    *ngFor="let orderState of orderStates"
    [status]="orderState"
    (clickEvent)="onChangeStatusFilter($event)"
    [active]="(statusFilter | async) === orderState"
  ></app-filter-button>
</div>
<div *ngFor="let order of filteredOrders$ | async" class="w-full">
  <app-order-card [order]="order"></app-order-card>
</div>
<div *ngIf="!(filteredOrders$ | async)?.length">
  <p *ngIf="(statusFilter | async) === 'ALL'" class="text-2xl text-purple-dark">
    No orders found.
  </p>
  <p *ngIf="(statusFilter | async) !== 'ALL'" class="text-2xl text-purple-dark">
    No {{ statusFilter | async }} orders found.
  </p>
</div>
