<div class="cursor-pointer hover:animate-pulse">
    <svg [attr.width]="width" [attr.height]="height" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clipPath="url(#clip0_429_11163)">
    <circle cx="12" cy="12" r="9" [attr.stroke]="color" strokeWidth="2.5" strokeLinecap="round" strokeLinejoin="round"/>
    <path d="M9 12L12 15M12 15L15 12M12 15L12 9" [attr.stroke]="color" strokeWidth="2.5" strokeLinecap="round" strokeLinejoin="round"/>
    </g>
    <defs>
    <clipPath id="clip0_429_11163">
    <rect width="24" height="24" fill="white"/>
    </clipPath>
    </defs>
    </svg>
</div>