<app-hero></app-hero>
<app-values></app-values>
<app-about></app-about>

<app-product-category
  [dark]="'#413c6a'"
  [light]="'#c0bce4'"
  [tag]="'candles'"
  [next]="'sculpts'"
  [title]="['Scented', 'Candles']"
></app-product-category>
<app-product-category
  [dark]="'#3aa1ff'"
  [light]="'#b4dbff'"
  [tag]="'sculpts'"
  [next]="'jewelry'"
  [title]="['Mini', 'Sculpts']"
></app-product-category>
<app-product-category
  [dark]="'#3c3d3f'"
  [light]="'#d3dae0'"
  [tag]="'jewelry'"
  [next]="'makeup'"
  [title]="['Pretty', 'Jewerly']"
></app-product-category>
<app-product-category
  [dark]="'#cc898b'"
  [light]="'#fee0d9'"
  [tag]="'makeup'"
  [title]="['Gorgeous', 'Makeup']"
></app-product-category>
