<div class="flex justify-center px-2 h-full" [style.background-color]="'var(--gray-light)'">
  <div class="flex justify-center items-center flex-col" *ngIf="! cart.length">
    <h3 class="text-5xl font-normal leading-normal mt-0 mb-2 text-pink-light ">YOUR BAG IS EMPTY</h3>


    <button
      class="text-2xl bg-transparent border-pink-light border-2 rounded-lg px-4 py-2 text-white font-bold hover:bg-pink-light hover:text-pink-dark transition duration-300 ease-in-out "
      [routerLink]="['/products']"
    >
      CONTINUE SHOPPING
    </button>
  </div>
  <div class="flex py-10 w-4/5 flex-col" *ngIf="cart.length">
    <ul class="rounded-lg text-gray-900">

      <app-check-out-products-list-item *ngFor="let cartElement of cart"
                                        [cartElement]="cartElement"></app-check-out-products-list-item>

    </ul>
    <div class="flex flex-wrap p-2  justify-between">

      <h5 class="font-medium leading-tight text-xl">Subtotal</h5>


      <h4 class="font-medium leading-tight text-2xl">
        $6,900.00
      </h4>

    </div>
    <div class="flex flex-wrap p-2  justify-between">

      <h5 class="font-medium leading-tight text-xl">Shipping</h5>


      <h4 class="font-medium leading-tight text-2xl">
        $12.02
      </h4>

    </div>
    <hr>
    <div class="flex flex-wrap p-2  justify-between">

      <h3 class="font-medium leading-tight text-3xl">Total</h3>


      <h3 class="font-medium leading-tight text-3xl">
        $12.02
      </h3>

    </div>
  </div>


</div>

