<nav class="flex m-3 px-5 py-3 text-gray-700">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a
        [routerLink]="['/']"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600"
      >
        <i class="fa-solid fa-house"></i>
      </a>
    </li>
    <li *ngFor="let item of items; let ind = index">
      <div class="flex items-center">
        <i
          class="fa-solid fa-chevron-right text-sm w-6 h-6 text-gray-400 mt-1 pt-1"
        ></i>
        <a
          *ngIf="ind != items.length - 1"
          [routerLink]="item.link"
          class="ml-1 mt-1 inline-flex items-center font-medium text-gray-700 hover:text-blue-600"
          >{{ item.label | titlecase }}</a
        >
        <p
          *ngIf="ind == items.length - 1"
          class="ml-1 pt-1 inline-flex font-medium text-gray-700"
        >
          {{ item.label | titlecase }}
        </p>
      </div>
    </li>
  </ol>
</nav>
