<div
  class="p-10 min-h-screen w-full bg-[#CC898B] absolute top-0 left-0 z-50 origin-top-right pointer-events-auto
 flex flex-col items-center justify-center text-white font-bold text-5xl gap-10 sm:text-6xl   {{
    !nav ? ' hide' : ' show'
  }} {{ closing ? ' closing' : ' ' }}
 "
>
  <div
    (click)="closeNav()"
    class="absolute top-[20px] right-[50px] text-white font-bold text-6xl cursor-pointer"
  >
    x
  </div>
  <a
    [routerLink]="'/'"
    class="hover:underline cursor-pointer"
    (click)="onClickLink()"
    >Home</a
  >
  <a
    [routerLink]="'/products'"
    class="hover:underline cursor-pointer"
    (click)="onClickLink()"
  >
    Catalogue
  </a>
  <a
    *ngIf="logged"
    [routerLink]="'/profile'"
    class="hover:underline cursor-pointer"
    (click)="onClickLink()"
  >
    Profile
  </a>
  <a
    [routerLink]="'/cart'"
    class="hover:underline cursor-pointer"
    (click)="onClickLink()"
  >
    Cart
  </a>
  <a
    *ngIf="!logged"
    [routerLink]="'/login'"
    class="hover:underline cursor-pointer"
    (click)="onClickLink()"
  >
    Login
  </a>
  <a
    *ngIf="!logged"
    [routerLink]="'/register'"
    class="hover:underline cursor-pointer"
    (click)="onClickLink()"
  >
    Register
  </a>
  <h1
    *ngIf="logged"
    class="hover:underline cursor-pointer"
    (click)="onClickLogout()"
  >
    Logout
  </h1>
</div>
