<div
  class="p-10 min-h-screen w-full bg-[#CC898B] absolute top-0 left-0 z-50 origin-top-right pointer-events-auto
 flex flex-col items-center justify-center text-white font-bold text-5xl gap-10 sm:text-6xl   {{
    !nav ? ' hide' : ' show'
  }} {{ closing ? ' closing' : ' ' }}
 "
>
  <div
    (click)="closeNav()"
    class="absolute top-[20px] right-[50px] text-white font-bold text-6xl cursor-pointer"
  >
    x
  </div>
  <h1 (click)="goToRoute('/')" class="hover:underline cursor-pointer">Home</h1>
  <h1 (click)="goToRoute('/products')" class="hover:underline cursor-pointer">
    Catalogue
  </h1>
  <h1
    *ngIf="logged"
    (click)="goToRoute('/profile')"
    class="hover:underline cursor-pointer"
  >
    Profile
  </h1>
  <h1 (click)="goToRoute('/cart')" class="hover:underline cursor-pointer">
    Cart
  </h1>
  <h1
    *ngIf="!logged"
    (click)="goToRoute('/login')"
    class="hover:underline cursor-pointer"
  >
    Login
  </h1>
  <h1
    *ngIf="!logged"
    (click)="goToRoute('/register')"
    class="hover:underline cursor-pointer"
  >
    Register
  </h1>
  <h1
    *ngIf="logged"
    class="hover:underline cursor-pointer"
    (click)="onClickLogout()"
  >
    Logout
  </h1>
</div>
