<div
  fxLayout="column"
  fxLayoutAlign="space-between center"
  class="catalog-sidebar h-100"
>
  <div fxLayout="column" fxLayoutAlign="start center">
    <div class="my-8" style="width: 30px">
      <img src="assets/pics/logo.png" alt="" />
    </div>
    <div *ngFor="let item of categoriesArray">
      <div *ngIf="item !== 'All products'" class="m-3">
        <img
          [ngClass]="{
            'bg-pink': item === categories.MAKEUP,
            'bg-purple': item === categories.CANDLES,
            'bg-blue': item === categories.SCULPTURE,
            'bg-gray': item === categories.JEWELRY,
            selected: currentCategory === item
          }"
          class="image p-1"
          (click)="changeCategory(item)"
          [src]="'assets/pics/' + item.toLowerCase() + '.png'"
          [alt]="item.toLowerCase()"
        />
      </div>
      <button
        *ngIf="item === 'All products'"
        class="bg-pink-dark rounded-full hover:bg-pink-light hover:text-pink-dark h-10 w-10 text-white transition ease-in-out"
        (click)="changeCategory(item)"
      >
        X
      </button>
    </div>
  </div>
  <div
    class="mb-10"
    fxLayout="column"
    fxLayoutAlign="space-between center"
    style="height: 100px"
  >
    <div class="imgContainer">
      <img
        class="image2"
        src="assets/pics/cart.png"
        alt=""
        (click)="onCartActivated()"
      />
    </div>
    <div class="imgContainer">
      <img
        (click)="onSearchActivated()"
        class="image2"
        src="assets/pics/search.png"
        alt=""
      />
    </div>
  </div>
</div>
