@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --pink: #CC898B;
  --beige: #FEE0D9;
  --purple: #C0BCE4;
  --blue: #B4DBFF;
  --white: #D3DAE0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
