@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink-light: #FEE0D9;
  --pink-dark: #CC898B;
  --purple-light: #C0BCE4;
  --purple-dark: #413C6A;
  --blue-light: #B4DBFF;
  --blue-dark: #3AA1FF;
  --gray-light: #D3DAE0;
}

* {
  font-family: GFSNeohellenic;
}

@font-face {
  font-family: "GFSNeohellenic";
  src: url('assets/fonts/GFSNeohellenic-Regular.ttf');
}

html,
body {
  height: 100%;
  margin: 0;
}
