@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --pink-light: #fee0d9;
    --pink-dark: #cc898b;
    --purple-light: #c0bce4;
    --purple-dark: #413c6a;
    --blue-light: #b4dbff;
    --blue-dark: #3aa1ff;
    --gray-light: #d3dae0;
    --gray-dark: #3c3d3f;
}

* {
    font-family: GFSNeohellenic;
}

@font-face {
    font-family: "GFSNeohellenic";
    src: url("assets/fonts/GFSNeohellenic-Regular.ttf");
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

.darkPinkText {
    color: var(--pink-dark);
}

.bgDarkPink {
    background-color: var(--pink-dark);
}

.bgLightPink {
    background-color: var(--pink-light);
}